@use '../../index.scss' as *;

.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  gap: 2rem;
  padding-block: 2rem;

  &Title {
    color: $primary;
  }

  .navbar {
    display: flex;
    list-style: none;
    gap: 1rem;

    .link {
      text-decoration: none;
      color: #000;
      font-weight: 300;
      letter-spacing: 2px;
      opacity: 0.7;

      &.active {
        opacity: 1;
        font-weight: 400;
      }
    }
  }
}
